In [ ]:
# Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt 
from sqlalchemy import create_engine
from sqlalchemy.engine import URL 
import os
#from dotenv import load_dotenv

In [ ]:
#connection to postgresql database
load_dotenv('database.env')
DATABASE_URL = os.getenv('DATABASE_URL')
engine = create_engine(DATABASE_URL)

In [3]:
# Loading Data
query = "SELECT * FROM rok25"
df = pd.read_sql(query, engine)

In [5]:
print(df.head(5))

    wojewodztwo         marka  liczba miesiac
0       ŁÓDZKIE         DACIA      96       1
1  DOLNOŚLĄSKIE    ALFA ROMEO      53       1
2  DOLNOŚLĄSKIE        ALPINE       1       1
3  DOLNOŚLĄSKIE  ASTON MARTIN       2       1
4  DOLNOŚLĄSKIE          AUDI     646       1